HELP.md
target/

src/test/resources/certs/alien-client
src/test/resources/certs/broken-server
src/test/resources/certs/client
src/test/resources/certs/expired-server
src/test/resources/certs/self-signed-server
src/test/resources/certs/server

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
